.online-bar {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 1rem;
	background-color: white;
	border-radius: 12px;
	transition: 0.3s;
	cursor: pointer;
}

.online-bar__item {
	position: relative;
	margin-bottom: 1rem;
}

.online-bar__item:last-child {
	margin-bottom: 0;
}

.online-bar__item img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.online-bar__item-sign {
	position: absolute;
    top: 0px;
	left: -5px;
	width: 12px;
    height: 12px;
    background-color: #a9afa9;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1;
}

.online-bar__item-sign.active {
	background-color: #42f142;
}

.online-bar__item > span {
	display: none;
}

.online-bar__item:hover > span {
	display: block;
	position: absolute;
    background: white;
    top: 14px;
    right: calc(100% - 8px );
    border-radius: 19px;
    padding: 0 0.5rem;
}