.profile-header {
	height: 300px;
	background-color: white;
	border-radius: 12px;
	overflow: hidden;
}

/*.profile-cover img {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}*/

.profile-info {
	position: relative;
	display: flex;
	align-items: end;
	justify-content: end;
	/*max-width: 900px;
	min-width: 850px;*/
	height: 100%;
	padding: 0 1rem;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5158438375350141) 31%, rgba(0,212,255,0) 100%);
}

.profile-info__left-avatar {
	position: relative;
    border: 5px solid white;
    background-size: cover;
}

.profile-info__left-avatar i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #8080809c;
	display: none;
	cursor: pointer;
}

.profile-info__left-avatar i:hover {
	color: black;
}

.profile-info__left-avatar:hover i {
	display: block;
}

.profile-info__center {
	text-align: left;
	width: 362px;
    padding-left: 1rem;
	flex: 1;
}

.profile-info__center-name {
	color: white;
}

.profile-info__center-active {
	width: 16px;
    height: 16px;
    background-position: -80px -88px;
    background-size: auto;
}

.profile-info__left-avatar {
	width: 168px;
	height: 168px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-info__left-avatar img {
	width: 100%;
}

.profile-bottom {
	max-width: 900px;
    min-width: 850px;
    margin: auto;
}

.profile-bottom__link > a {
	color: #7c7c7e;
	display: inline-block;
    padding: 1rem;
    margin: 5px 0;
    border-radius: 5px;
}

.profile-bottom__link > a.active {
	position: relative;
	color: black;
}

.profile-bottom__link > a.active:after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: black;
}

.profile-bottom__link > a:hover {
	color: #7c7c7e;
	background-color: var(--background-color)
}

.profile-bottom__menu {
	padding: 6px 16px;
    background-color: var(--background-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-contents-post {
	
}

.profile-contents-post__left {
	width: 300px;
}

.profile-contents-post__left-item.info {
	background-color: white;
	padding: 1rem; 
	border-radius: 5px;
}

.user-info__content p {
	margin: 0;
}

.profile-contents-post__right {
	flex: 1;
}

.left-follow-heading {
	font-size: 1.25rem;
	padding-bottom: 1rem;
}

.left-follow-content__item {
	width: 3rem;
	height: 3rem;
	background-size: contain;
	border-radius: 50%;
	margin-right: 0.25rem;
}